
.RadioBoxItem{
    position: relative;
    width: calc((100% - 2rem) / 3);
    
    

    label{
        border-radius:5px;
        border: 1px solid $LightGray;
        padding: 20px;
        display: block;
        width: 100%;
        height: 150px;
        cursor: pointer;
        &:hover{
            border-color: $MarineBlue;
        }
    }
    input{
        display: none;
        &:checked ~label{
            color: red;
            background-color: $LightBlue;
            border-color: $MarineBlue;
        }
        img{
            position: absolute;
            top: 20px;
            left: 10px;
            width: 40px;
            height: 40px;
        }    
    }
    .planInfo{
        @include dflex(column, unset, unset,2px);
        position: absolute;
        bottom: 10px;
        left: 10px;
        .planName{        
            color: $MarineBlue;    
            font-weight: 700;
        }
        .planPrice{        
            color: $CoolGray;    
            font-size: 0.8rem;
        }
        .planFree{
            color: $MarineBlue;    
            font-weight: 400;
        }
    }

    @media screen and (max-width:760px) {
        width: 100%;
        label{
            @include dflex(row, space-between, center, unset)
         }
         img{
            position: static;
            width: 60px;
            height: 60px;
         }
        .planInfo{
            position: static;
            .planName{        
                font-size: 1.3rem;
            }
            .planPrice{        
                font-size: 1rem;
            }
            .planFree{
                font-size: 1.3rem;
            }
        }        
    }
    
}

.input-checked-label{
    color: red;
    background-color:$LightBlue;
    border-color: $MarineBlue;
}